<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ChitChat - chat online with anyone</title>
  <link rel="icon" type="image/x-icon" href="content/images/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link rel="stylesheet" href="styles/requires/nav-bar.css">
  <link rel="stylesheet" href="styles/requires/general.css">
  <link rel="stylesheet" href="styles/login-register.css">
</head>

<body>
  <%- include("requires/nav-bar") -%>

  <!-- top pad -->
  <div style="height:7vh"></div>

  <div class="page-body">

    <div class="main-block">

      <h1 style="color: #D8D9CF">
        Register
      </h1>
      <p class="input-label">Email</p>
      <input class="user-input userEmail" type="email" name="" value="" placeholder="Enter mail address">
      <p class="input-label">User id</p>
      <input class="user-input userID" type="text" name="" value="" placeholder="Enter user ID">
      <p class="input-label">Password</p>
      <input class="user-input userPASS" type="password" name="" value="" placeholder="Enter Password"><br>
      <button class="resond-button register-button" type="submit" name="button">Register</button>


      <div class="register-feed" style="display:flex; justify-content: center">
        <p class="feedback"></p>
      </div>
      <div style="display:flex; justify-content: center">
      <p style="margin: 1rem 0 0 0; color: white; display:inline" >already have a account?</p> <a style="margin: 1rem 0 0 0" href="/login"> Login</a>
      </div>
    </div>

  </div>


  <!-- script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
  <script type="module" src="scripts/register.js"></script>

</body>

</html>
