.my-body {
  height: 93vh;
  padding-top: 7vh;
}

.input-container {
  position: absolute;
  bottom: 0;
  width: 91%;
  margin: 1rem;
  margin-right: 1.2rem;
  position: fixed;
}

.input-message {
  border-radius: 2rem;
  width: 88%;
  padding: .1rem 1rem;
}

.send-button {
  width: 10%;
  background-color: #3F4E4F;
  border-radius: 2rem;
  text-align: center;
}

.send-img {
  height: 1.8rem;
  padding: .2rem;
  padding-bottom: .25rem;
  margin-left: auto;
}

/* message */
.message-container {
  overflow-y: scroll;
  padding-bottom: 8vh;
  width: 100vw;
}

.message-box {
  margin-top: 1rem;
  display: flex;
}

.join-box {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.join-secret{
  background-color: #3F4E4F;

  padding: 0 1rem;
  margin: 0;
  border-radius: 5px;
  font-size: .75rem;
  color: #D8D9CF;
}

.message {
  max-width: 85%;
  border-radius: 10px;
  padding: .3rem .5rem;
  padding-top: 1px;
  margin: 0;
  background-color: #355764;
  display: inline-block;
}

.message p {
  padding: 0;
  margin: 0;
  color: white;
}

.message .name {
  font-size: .85rem;
  color: skyblue;
}

.message .secret {
  padding: 0 .5rem;
  border-radius: 5px;
  background-color: #3F4E4F;
}

/* my message */
.my-message-box {
  justify-content: flex-end;
}

.my-message {
  background-color: #51557E !important;
}


/* Chat-opner and manager */
.chat-manager{
  position: absolute;
  display: none;
}

.chat-section{
  z-index: 1;
  position: relative;
  left:100vw;
  opacity: 0.5;

  transition: .2s;
}
.chat-on{
  left:0;
  opacity: 1;
}

.logs{
  position: absolute;
  opacity: 1;

  transition: .15s;
}
.logs-fade{
  opacity: 0;
}


/* Chats and AddMore section */
.main-sections{
  position: relative;
  width: 100vw;
  height: 0;
  color: white;
  display: none;
}
.section-focus{
  height: 88vh;
  display: block;
}

.chat-rooms{

  transition: .2s;
}
.chat-groups{

  transition: .2s;
}

/* search engine */
.search-engine{
  position: absolute;
  display: none;
}

.search-box{
  position: relative;
  top:100vh;

  transition: .15s;
}
.search-box-focus{
  top:0;
}

.search-nav{
  position: fixed;
  background-color: #355764;
  height: 7vh;
  width:100vw;
}
.search-bar{
  margin: 1rem;
  padding: 0 .75rem;
  width: 75vw;
  border-radius: 2rem;
  background-color: white;
  display: inline-block;
}
.search-bar img{
  width: 6%;
}
.search-bar input{
  width: 80%;
  border: none;
}
.search-bar input:focus{
  outline: none;
}
.search-bar a{
  margin-left: 2%;
}
.search-nav .cancel{
  text-decoration: none;
  display: inline;
  color: white;
}

.search-list{
  width: 100vw;
  height: 93vh;
  overflow-y: scroll;
}
.search-item{
  display: flex;
  justify-content: space-between;
  align-items: center;

  color:white;
  padding: .5rem 1rem;
  border-style: solid;
  border-width: 0 0 .05rem 0;
  background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(135,206,235,0.25));
}
.search-item img{
  height: 4rem;
  width: 4rem;
  border-radius: 5rem;
  background-color: white;
}
.search-item p{
  display: inline;
  position: relative;
  bottom: 1rem;
  margin-left: .5rem;
}
.search-item a{
  padding: 0 .5rem .2rem .5rem;
  border: solid;
  border-radius: 1rem;
  position: relative;
  top: 1rem;
  color: white;
  text-decoration: none;
}

/* //chat-item */
.chat-item{
  text-decoration: none;
  color:white;
  padding: 0.5rem;
  border-style: solid;
  border-width: 0 0 .05rem 0;
  background-image: linear-gradient(180deg, rgba(135,206,235,0.25), rgba(0,0,0,0));
}
.chat-item img{
  height: 4rem;
  width: 4rem;
  border-radius: 5rem;
  background-color: white;
}
.chat-item p{
  display: inline;
  position: relative;
  bottom: 1rem;
  text-decoration: none;
  border: none;
  margin-left: .5rem;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right:0;
  background-color: #7F8487;
  min-width: 8.5rem;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  padding-right: 1rem;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
