<div class="logs-nav">

  <div class="logs-nav-bar">
    <a class = "nav-bar-link-brand" href="/">
      <h1 class = "nav-bar-brand"><span>Chit</span>Chat</h1>
    </a>

    <div class="nav-options logs-nav-options">

      <a class = "nav-option log-search">
        <img class="log-nav-option-img" src="content/images/icon_search.png" alt="">
      </a>

      <a class = "nav-option">
        <img class="log-nav-option-img" src="content/images/icon_options.png" alt="">
      </a>

    </div>
  </div>

  <div class="logs-main">
    <a class="log-option log-option-messages log-option-selected">messages</a>
    <a class="log-option log-option-groups">Groups</a>
  </div>

</div>
