<!-- nav -->
<div class="nav-bar">

  <a class = "nav-bar-link-brand" href="/">
    <h1 class = "nav-bar-brand"><span>Chit</span>Chat</h1>
  </a>

<% if(optionsAvailable != 0){ %>

  <div class="nav-options">
    <a class = "nav-option nav-option-call">
      <img src="content/images/icon_vc.png" alt="">
    </a>

    <a class = "nav-option nav-option-videocall">
      <img src="content/images/icon_call.png" alt="">
    </a>

    <a class = "nav-option nav-option-videocall">
      <img src="content/images/icon_options.png" alt="">
    </a>

  </div>

<%}%>

</div>
<!-- nav -->
